.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #3333ff;
  color: #202124;
  padding: 16px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin: 20 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #70757a;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

.Weather img {
  height: 96px;
  width: 96px;
  display: inline-block;
  vertical-align: bottom;
}

.Weather .temprature {
  display: inline-block;
  color: #202124;
  font-size: 50px;
  font-weight: 400;
  line-height: 2;
  margin-left: 0;
}

.Weather .unit {
  color: #202124;
  font-size: 16px;
  /* line-height: 66px;
  vertical-align: text-bottom; */
  margin-left: 4px;
  position: relative;
  top: -23px;
  line-height: 1;
}
